<html lang="en">
<head>
	<title>Age verification implementation demo</title>
	<link rel="stylesheet" href="{{ exampleBaseUrl }}/static/css/style.css"/>
</head>
<body>
<div class="container">
	<img class="logo" src="{{ exampleBaseUrl }}/static/img/logo.svg"/>
	<h1>Age verification implementation demo</h1>
	<p>Below you can find a basic implementation of both type of age verification implementation flows.</p>
	<p>
		<a class="button" href="{{ exampleBaseUrl }}/redirect/">Redirect logic</a>
		<a class="button" href="{{ exampleBaseUrl }}/iframe/">Iframe overlay logic</a>
	</p>
</div>
</body>
</html>
